@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    background-color: rgb(15, 15, 15);
}

h1 {
    margin-bottom: 15px;

    color: rgb(60, 60, 60);
    font-size: 1.3rem;
    font-weight: 550;
}

a {
    color: inherit;
}

.container {
    display: flex;

    width: 75vw;
    height: 100vh;
    margin: auto;
}

.banner {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr auto 3fr;

    flex: 3;
    min-width: 220px;

    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
}

.logo-background {
    grid-row-start: 3;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.banner-middle {
    grid-row-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 5px 0;

    color: white;
    font-family: 'Norse';
    font-size: 4.8rem;

    background: rgba(0, 0, 0, 0.45);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 5;

    background-color: rgb(249, 249, 249);
}

.blurb {
    padding: 0 70px 0px 40px;
    margin-bottom: 50px;

    font-size: 1.2rem;
    font-weight: 550;
}

.logo {
    height: 105px;
}

.artist-credit {
    margin-bottom: 10px;

    color: white;
    font-size: 0.60rem;
}

.blurb p:last-child {
    margin-top: 25px;
}

.form-body {
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(200, 200, 200);
}

.form-control {
    display: flex;
    flex-direction: column;

    width: 210px;
    margin-bottom: 15px;
}

.input-control-line {
    display: flex;
    column-gap: 50px;
}

input {
    padding: 2px 5px;

    border: 1px solid #E5E7EB;
    border-radius: 3px;

    font-family: system-ui, sans-serif;
    font-size: 0.80rem;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 2px 2px 5px rgb(207, 207, 207);
}

input:invalid {
    border-color: rgb(197, 0, 0);
}

.form-control label {
    color: rgb(50, 50, 50);
    font-size: 0.70rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-submission {
    padding: 0 40px;
    margin: 35px 0;
}

button {
    padding: 10px 40px;
    margin-bottom: 30px;

    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    background-color: #596D48;
    
    color: white;
    font-size: 1rem;
    font-weight: 500;
    
    cursor: pointer;
}

button:hover {
    background-color: #718a5a;
}

button:active {
    background-color: #435235;
}

.form-submission a {
    color: #596D48;
    font-weight: 500;
    text-decoration: none;
}

.form-submission a:hover {
    color: #718a5a;
}