@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    background-color: black;
}

div.container {
    display: flex;
    width: 75vw;
    height: 100vh;
    margin: auto;
}

div.banner {
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    flex: 3;
}

div.content {
    background-color: lightgray;
    flex: 5;
}

div.logo-background {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 125px;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.logo {
    height: 90px;
    width: auto;
}

.logo-text {
    color: white;
    font-family: 'Norse';
    font-size: 5rem;
    margin-left: 5px;
}