@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    background-color: rgb(15, 15, 15);
}

.container {
    display: flex;
    width: 75vw;
    height: 100vh;
    margin: auto;
}

.banner {
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;

    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 220px;
}

.banner-top {
    flex: 1;
}

.banner-bottom {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.banner-middle {
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;

    height: 115px;
    width: 100%;

    color: white;
    font-family: 'Norse';
    font-size: 4.5rem;
}

.logo {
    height: 95px;
}

.artist-credit {
    color: white;
    font-size: 0.60rem;
    margin-top: auto;
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.content {
    background-color: rgb(249, 249, 249);
    flex: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blurb {
    padding: 0 70px 0px 40px;
    margin-bottom: 50px;

    font-size: 1.1rem;
    font-weight: 550;
}

.blurb p:last-child {
    margin-top: 25px;
}

.form-controls {
    padding: 15px 0px 30px 40px;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(200, 200, 200);
}

h1 {
    color: rgb(60, 60, 60);
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 10px;
}

.input-control-line {
    display: flex;
    column-gap: 50px;
}

.form-control {
    width: 200px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
}

.form-control input {
    padding: 2px 5px;
    width: 185px;
    font-size: 0.80rem;
    font-family: system-ui, sans-serif;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 2px 2px 5px rgb(207, 207, 207);
}

input:invalid {
    border-color: rgb(197, 0, 0);
}

.form-control label {
    color: rgb(50, 50, 50);
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.form-submission {
    padding: 0 40px;
    margin-top: 20px;
}