@font-face {
    font-family: 'Bearpaw';
    src: url('fonts/Bearpaw.woff2') format('woff2'),
        url('fonts/Bearpaw.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    background-color: black;
}

div.container {
    display: flex;
    width: 75vw;
    height: 100vh;
    margin: auto;
}

div.banner {
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    flex: 3;
}

div.content {
    background-color: lightgray;
    flex: 5;
}