@font-face {
    font-family: 'Bearpaw';
    src: url('Bearpaw.woff2') format('woff2'),
        url('Bearpaw.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

